<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Bool Market - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Plotly -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdn.plot.ly/dash-latest.min.js"></script>

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="static/vendor/remixicon/remixicon.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Nova
  * Updated: Aug 30 2023 with Bootstrap v5.3.1
  * Template URL: https://bootstrapmade.com/nova-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="page-index">

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="d-flex align-items-center">Bool Market</h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="index.html" class="active">Home</a></li>
          <li><a href=#about>About</a></li>
          <li><a href=#candlesticks>Candlesticks</a></li>
          <li><a href=#patterns>Patterns</a></li>
          <li><a href="#footer">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-4">
          <h2 data-aos="fade-up">Ready to Retire?</h2>
          <blockquote data-aos="fade-up" data-aos-delay="100">
            <p>Introducing Bool Market, your ultimate trader's companion!</p>
            <p>Born out of the collaborative efforts of our dedicated team during the Data Science Bootcamp with Le Wagon, Bool Market is a powerful tool designed to empower traders with insightful pattern recognition capabilities.</p>
            <p>Whether you're deciphering complex stock chart graphs or scrutinizing individual candlesticks, our platform equips you with the tools and insights needed to make informed decisions.</p>
            <p>Join us on this journey as we leverage the expertise gained from our bootcamp to simplify and enhance your trading experience. Explore Bool Market today and unlock a world of trading possibilities!</p>
          </blockquote>

        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= Why Choose Us Section ======= -->
    <section id="about" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>About Bool Market</h2>

        </div>

        <div class="row g-0" data-aos="fade-up" data-aos-delay="200">

          <div class="col-xl-5 img-bg" style="background-image: url('static/img/why-us-bg.jpg')"></div>
          <div class="col-xl-7 slides  position-relative">

            <div class="slides-1 swiper">
              <div class="swiper-wrapper">

                <div class="swiper-slide">
                  <div class="item">
                    <h3 class="mb-3">Candlestick patterns</h3>
                    <h4 class="mb-3">Identification</h4>
                    <p>In this section of the page you can find detailed candlestick infromation for the company of your choosing</p>
                    <p>By entering the date range and the ticker for the company you wish to see, you will be presented with a candlestick graph.</p>
                    <p>Furthermore, you can select individual candlesticks that are present in the chart to see where they have been identified.</p>
                    <a href="https://github.com/Ivanmoranr/Bool-Market/blob/main/README.md", target="_blank">Follow this link for further reading</a>
                  </div>
                </div><!-- End slide item -->

                <div class="swiper-slide">
                  <div class="item">
                    <h3 class="mb-3">Our API</h3>
                    <h4 class="mb-3">Need to leverage our data?</h4>
                    <p>All of our candlestick data is provided by our own in-house API, with candlestick identification provided by TA-Lib</p>
                    <br>
                    <p>If you would like to access our data for your own project, please visit our API page:</p>
                    <br>
                    <a href="#">API page</a>
                  </div>
                </div><!-- End slide item -->

                <div class="swiper-slide">
                  <div class="item">
                    <h3 class="mb-3">Graph Patterns</h3>
                    <h4 class="mb-3">Identify Common Patterns</h4>
                    <p>Our pattern identifier identifies the most common stock market graph patterns and show the last places that they appeared.</p>
                    <p>Simply enter the ticker for the company you wish to query, and you will be presented with a table with the information</p>
                    <a href="https://github.com/Ivanmoranr/Bool-Market/blob/main/README.md", target="_blank">Follow this link for further reading</a>
                  </div>
                </div><!-- End slide item -->

              </div>
              <div class="swiper-pagination"></div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>

        </div>

      </div>
    </section><!-- End Why Choose Us Section -->

    <!-- ======= Our Services Section ======= -->
    <section id="candlesticks" class="candlesticks">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Candlesticks</h2>

        </div>

        <div class="row gy-5">

          <div class="container">
            <form method="POST" action="/">
                <div class="row">
                    <div class="col">
                        {{ candle_form.from_date(class="form-control", placeholder="From (YYYY-MM-DD)") }}
                        {% if candle_form.from_date.errors %}
                            <div class="alert alert-danger">
                                {{ candle_form.from_date.errors[0] }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col">
                        {{ candle_form.to_date(class="form-control", placeholder="To (YYYY-MM-DD)") }}
                        {% if candle_form.to_date.errors %}
                            <div class="alert alert-danger">
                                {{ candle_form.to_date.errors[0] }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col">
                        {{ candle_form.company_ticker(class="form-control", placeholder="Company Ticker") }}
                        {% if candle_form.company_ticker.errors %}
                            <div class="alert alert-danger">
                                {{ candle_form.company_ticker.errors[0] }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="text-center mt-3"> <!-- Center the button -->
                    <button id='update-button' type="submit" class="btn btn-primary">Generate</button>
                </div>
            </form>
          </div>

          
          <div class="section-header">
            <h2>Ticker name</h2>
          </div>
          <div id='chart' class='chart'”></div>
        
          <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
          <script type='text/javascript'>
            var graphs = {{ graphJSON | safe }};
            var layout = {
                width: 10,
                height: 10
            };
            Plotly.plot('chart',graphs,layout);
          </script>

        </div>

      </div>
    </section><!-- End Our Services Section -->

    <!-- ======= Call To Action Section ======= -->
    <section id="cta" class="call-to-action">
      <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <h3>Meet the founders</h3>
            <p>From humble beginnings, to cutting edge financial tools</p>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <div class="circular-images">
              <div class="founder">
                <img src="{{ url_for('static', filename='img/team/ivan.jpeg') }}" alt="Ivan Moran Rossell" title="Ivan Moran Rossell">
                <div class="label">CEO</div>
              </div>
              <div class="founder">
                <img src="{{ url_for('static', filename='img/team/miguel.jpeg') }}" alt="Miguel Equiza Goicoechea" title="Miguel Equiza Goicoechea">
                <div class="label">CTO</div>
              </div>
              <div class="founder">
                <img src="{{ url_for('static', filename='img/team/eddie.jpeg') }}" alt="Eduardo Olmos Greenham" title="Eduardo Olmos Greenham">
                <div class="label">CFO</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Call To Action Section -->
    

    <!-- ======= Features Section ======= -->
    <section id="patterns" class="features">
        <div class="section-header">
          <h2>Graph Patterns</h2>
        </div>

        <div class="container">
          <form method="POST" action="/">
              <div class="row justify-content-center">
                  <div class="col-6">
                      {{ ticker_form.company_name(class="form-control form-control-sm", placeholder="Company Name") }}
                      {% if ticker_form.company_name.errors %}
                          <div class="alert alert-danger mt-2">
                              {{ ticker_form.company_name.errors[0] }}
                          </div>
                      {% endif %}
                      <div class="text-center mt-3">
                        <button type="submit" class="btn btn-primary">Generate</button>
                    </div>
                  </div>
                  <div class="col-6">
                    {{ pattern_form.company_ticker(class="form-control form-control-sm", placeholder="Company Ticker") }}
                      {% if pattern_form.company_ticker.errors %}
                          <div class="alert alert-danger mt-2">
                              {{ pattern_form.company_ticker.errors[0] }}
                          </div>
                      {% endif %}
                      <div class="text-center mt-3">
                        <button type="submit" class="btn btn-primary">Generate</button>
                    </div>
                  </div>
              </div>

              <div class="ticker-options">
                  <h3>Select a Ticker:</h3>
                  <form method="POST">
                      <select name="selected_ticker">
                          <option value="{{ code1 }}">{{ code1 }} - {{ exchange1 }}</option>
                          <option value="{{ code2 }}">{{ code2 }} - {{ exchange2 }}</option>
                          <option value="{{ code3 }}">{{ code3 }} - {{ exchange3 }}</option>
                      </select>
                      <input type="submit" value="Select">
                  </form>
              </div>


          </form>
      </div>

      <div class="container" data-aos="fade-up">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Ticker</th>
              <th scope="col">Pattern</th>
              <th scope="col">Start Date</th>
              <th scope="col">Width</th>
              <th scope="col">End Date</th>
              <th scope="col">Links</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Rising Wedge</td>
              <td>01-02-2022</td>
              <td>17</td>
              <td>06-08-2023</td>
              <td><a href="#">Chart</a></td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Falling Wedge</td>
              <td>01-02-2022</td>
              <td>17</td>
              <td>06-08-2023</td>
              <td><a href="#">Chart</a></td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Double Top</td>
              <td>01-02-2022</td>
              <td>17</td>
              <td>06-08-2023</td>
              <td><a href="#">Chart</a></td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Double Bottom</td>
              <td>01-02-2022</td>
              <td>17</td>
              <td>06-08-2023</td>
              <td><a href="#">Chart</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </section><!-- End Features Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="index.html" class="logo d-flex align-items-center">
              <span>Bool Market</span>
            </a>
            <p>Are you interested in our product?</p>
            <p>Interested in collaborating?</p>
            <p>Get in touch!</p>
            <br>
            <p>
              Madrid, Spain<br>
            </p>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Ivan</h4>
            <ul>
              <li><i class="bi bi-dash">Machine Learning</i></li>
              <li><i class="bi bi-dash">Deep Learning</i></li>
              <li><i class="bi bi-dash">Data Analysis</i></li>
            </ul>
            <div class="social-links d-flex  mt-3">
              <a href="https://github.com/Ivanmoranr" target="_blank" class="github"><i class="bi bi-github"></i></a>
              <a href="https://www.linkedin.com/in/ivanmoranrossel/" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></a>
              <a href="mailto:ivanmoranr@outlook.com" target="_blank" class="email">
                <i class="bi bi-envelope"></i>
              </a>
            </div>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Miguel</h4>
            <ul>
              <li><i class="bi bi-dash">Machine Learning</i></li>
              <li><i class="bi bi-dash">Deep Learning</i></li>
              <li><i class="bi bi-dash">Data Analysis</i></li>
            </ul>
            <div class="social-links d-flex  mt-3">
              <a href="https://github.com/Miguel-Equiza" target="_blank" class="github"><i class="bi bi-github"></i></a>
              <a href="https://www.linkedin.com/in/mequizagoi/" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></a>
              <a href="mailto:miguelequiva12345@gmail.com" target="_blank" class="email">
                <i class="bi bi-envelope"></i>
              </a>
            </div>
          </div>
      

          <div class="col-lg-2 col-6 footer-links">
            <h4>Eddie</h4>
            <ul>
              <li><i class="bi bi-dash">Machine Learning</i></li>
              <li><i class="bi bi-dash">Deep Learning</i></li>
              <li><i class="bi bi-dash">Data Analysis</i></li>
            </ul>
            <div class="social-links d-flex  mt-3">
              <a href="https://github.com/BigEd12" target="_blank" class="github"><i class="bi bi-github"></i></a>
              <a href="https://www.linkedin.com/in/olmosedward/" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></a>
              <a href="mailto:olmos.edward@gmail.com" target="_blank" class="email">
                <i class="bi bi-envelope"></i>
              </a>
          </div>
          </div>

        </div>
      </div>
    </div>

    <div class="footer-legal last-section">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Bool Market 2023</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nova-bootstrap-business-template/ -->
          Designed by Bool Market
        </div>
      </div>
    </div>
  </footer><!-- End Footer --><!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>